<template>
    <div id="game-play">
        <p class="quiz-counter center-align">Question {{index+1}} of {{quiz.length}}</p>
        <div v-if="(quiz.length > index)">
             <QuizQuestion  @get-next-question="getNextQuestion" v-bind:quiz-question="currentQuestion" />  
        </div>
    </div>
</template>

<script>

import axios from 'axios';
import QuizQuestion from '../components/QuizQuestion';

export default {

    name: 'GamePlay',
    components: {
        QuizQuestion
    },

    created() {
        this.getQuiz();
    },
   
  data() {
      return {
          quiz: [],
          currentQuestion: {},
          index: 0
      }
  },
  methods: {
        getQuiz() {

            axios.get('https://opentdb.com/api.php?amount=15&category=27&difficulty=easy')
            .then (resp => resp.data)
            .then (resp => {

                this.quiz = resp.results || []; 
                this.shuffleAnswers(); 
        
            });
        },
          
        shuffleAnswers() {

            this.quiz.forEach(question => {

                question.answers = [...question.incorrect_answers, question.correct_answer];
                question.answers.sort();
                
            });

           this.currentQuestion = this.quiz[this.index];
       },
        getNextQuestion(answer) {
             
            if (this.quiz.length >= this.index) {

                this.quiz[this.index].userAnswer = answer;
                this.index++ ;
                this.currentQuestion = this.quiz[this.index];
            } 
            if (this.quiz.length === this.index) {

                this.$router.push({ name: 'GameOver', params: { quiz: this.quiz} });
            }
        }      
    }
}
</script>

<style scoped>

.quiz-counter {
    color: #ffffffad;
}

</style>