<template>
    <div class="col s12 center-align">
        <h1 class="flow-text">Welcome to a quiz about animals!</h1>
        <a href="/quiz" class="z-depth-3  teal darken-1 btn-large btn"><i class="material-icons">play_arrow</i>
            <span> Start Quiz</span>
        </a>
    </div>  
</template>

<script>

export default {
    name: 'GameMenu'
}    

</script>


<style scoped>
    .btn-large i {
        font-size: 0.8rem;
    }
</style>

