<template>
    <div class="col s12">
        <h2>You got {{score}} out of {{totalScore}} points</h2>
        <QuizResult v-for="(result, index) of quiz" :key="index" v-bind:quiz-result="result" />
    </div>
</template>

<script>
import QuizResult from '../components/QuizResult';
export default {

    name: 'GameOver',
    components: {

         QuizResult 

    },

    created() {
        this.getScore();
    },

    data() {
        return {

            quiz: this.$route.params.quiz,
            score: 0,
            totalScore: 0
        }
    },
    methods: {
        getScore() {

            this.totalScore = this.quiz.length * 10;

            this.quiz.forEach(question => {

                if (question.userAnswer === question.correct_answer) {
                    this.score += 10;
                } 
                
            });
        }
    }
}
</script>

<style scoped>

</style>

