<template>
    <div class="quiz-result">
        <h6>
            <em v-html="QuizResult.question"></em>
        </h6>
        <ul class="quiz-result-items" v-for="answers in QuizResult.answers" :key="answers">
            <li class="your-correct-answer" v-if="QuizResult.userAnswer === answers && QuizResult.userAnswer === QuizResult.correct_answer"> 
                <span v-html="answers"></span> <span class="right"><i class="material-icons">insert_emoticon</i></span>
            </li>  
            <li class="wrong-answer" v-else-if="QuizResult.userAnswer === answers && QuizResult.userAnswer !== QuizResult.correct_answer"> 
                <span v-html="answers"></span> <span class="right">Your answer</span>
            </li>  
            <li class="correct-answer" v-else-if="QuizResult.correct_answer === answers"> 
                <span v-html="answers"></span> <span class="right">The correct answer</span>
            </li> 
            <li class="other-answers" v-else> 
                <span v-html="answers"></span>
            </li> 
        </ul> 
    </div>
</template>

<script>

export default {
    props: {

       QuizResult: {
            required: true,
            type: Object
        }
    }
}

</script>

<style scoped>

    .quiz-result {
        margin: 35px 0px; 
        border-bottom: 0.5px solid #eae7e3d9;
        color: white;
    }

    h6 {
        margin-bottom: 15px;
    }

    .quiz-result-items {
        margin: 25px 0px;
    }

    .quiz-result-items li {
        padding: 5px 15px;
        margin: 5px 0px;
    }

    .your-correct-answer {
        background-color: #69f0ae;
        color: #000;
    }
    .correct-answer {
        background-color: #ffd600;
        color: #000;
    }

    .wrong-answer {
        background-color: #e65100;
        color: #000;
    }

    .other-answers {
        color: #ffffffad;
    }

</style>

