<template>
    <div class="quiz-question">
        <div class="col s12 center-align">
            <h2>
                <em v-html="QuizQuestion.question"></em>
            </h2>
        </div>
        <div class="col s12 quiz-question-answers center-align" v-for="answer in QuizQuestion.answers" :key="answer">
            <a class="cyan darken-3 btn" v-on:click="next(answer)">
                <span v-html="answer"></span>
            </a>
        </div>  
    </div>
</template>

<script>

export default {
    props: {

       QuizQuestion: {
            required: true,
            type: Object
        }
    },
      methods: {

        next(answer) {
            this.$emit('get-next-question', answer);
        }
    }
}
</script>


<style scoped>

.quiz-question-answers {
    margin: 5px auto;
}

</style>

