<template>
  <div id="app">
    <nav class="pink darken-4">
      <div class="nav-wrapper">
        <a class="brand-logo"><router-link exact to="/">Vue-Trivia</router-link></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <router-link exact to="/">Home</router-link>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <router-view> </router-view>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'app'
}
</script>

<style>

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('./assets/backgroundImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #171211;
  background-blend-mode: soft-light;
  background-attachment: fixed;
  color: white;
}

#app {
  height: 100vh;
 
}

.nav-wrapper {
  margin: 0px 25px;
}

.container {
  margin: 25px auto;
  padding: 25px;
}

h2 {
  font-size: 2rem;
  color: #FFF;
}

p {
  color: #FFF;
}

</style>
